#include "resource.h"
#include <windows.h>

IDI_APP_ICON ICON "../../../../Assets/icons/zenvra_logo512x512.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New File\tCtrl+N", ID_FILE_NEW, GRAYED
        MENUITEM "&Open File...\tCtrl+O", ID_FILE_OPEN, GRAYED
        MENUITEM "&Save File\tCtrl+S", ID_FILE_SAVE, GRAYED
        MENUITEM "&Close File\tCtrl+W", ID_FILE_CLOSE, GRAYED
        MENUITEM "&Delete File\tCtrl+Shift+Del", ID_FILE_DELETE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z", ID_EDIT_UNDO, GRAYED
        MENUITEM "&Redo\tCtrl+Y", ID_EDIT_REDO, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT, GRAYED
        MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY, GRAYED
        MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE, GRAYED
    END
    POPUP "&Selection"
    BEGIN
        MENUITEM "Select &All\tCtrl+A", ID_SELECTION_SELECT_ALL, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Move Line &Up\tAlt+Up", ID_SELECTION_MOVE_LINE_UP, GRAYED
        MENUITEM "Move Line &Down\tAlt+Down", ID_SELECTION_MOVE_LINE_DOWN, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Add Cursor &Above\tCtrl+Alt+Up", ID_SELECTION_ADD_CURSOR_ABOVE, GRAYED
        MENUITEM "Add Cursor &Below\tCtrl+Alt+Down", ID_SELECTION_ADD_CURSOR_BELOW, GRAYED
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Explorer\tCtrl+Shift+E", ID_VIEW_EXPLORER, GRAYED
        MENUITEM "&Search\tCtrl+Shift+F", ID_VIEW_SEARCH, GRAYED
        MENUITEM "&Output\tCtrl+`", ID_VIEW_OUTPUT, GRAYED
        MENUITEM "&Problems\tCtrl+Shift+M", ID_VIEW_PROBLEMS, GRAYED
    END
    POPUP "&Navigate"
    BEGIN
        MENUITEM "Navigation commands will be available with the editor", 0, GRAYED
    END
    POPUP "&Project"
    BEGIN
        MENUITEM "&Open Project...\tCtrl+K Ctrl+O", ID_PROJECT_OPEN, GRAYED
        MENUITEM "&Close Project\tCtrl+K F", ID_PROJECT_CLOSE, GRAYED
    END
    POPUP "&Build"
    BEGIN
        MENUITEM "&Build Project\tCtrl+Shift+B", ID_BUILD_PROJECT, GRAYED
    END
    POPUP "&Run"
    BEGIN
        MENUITEM "&Start\tF5", ID_RUN_START, GRAYED
    END
    POPUP "&Window"
    BEGIN
        MENUITEM "&Close Window\tCtrl+Shift+W", ID_WINDOW_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "Split Editor &Right\tCtrl+\\", ID_WINDOW_SPLIT_RIGHT
        MENUITEM "Split Editor &Left", ID_WINDOW_SPLIT_LEFT
        MENUITEM "Split Editor &Up", ID_WINDOW_SPLIT_UP
        MENUITEM "Split Editor &Down", ID_WINDOW_SPLIT_DOWN
        MENUITEM SEPARATOR
        MENUITEM "Toggle &Fullscreen\tF11", ID_WINDOW_TOGGLE_FULLSCREEN
        MENUITEM "&Minimize", ID_WINDOW_MINIMIZE
        MENUITEM "Ma&ximize / Restore", ID_WINDOW_MAXIMIZE
        MENUITEM SEPARATOR
        MENUITEM "&Reset Layout", ID_WINDOW_RESET_LAYOUT
        MENUITEM SEPARATOR
        MENUITEM "Next Editor &Tab\tCtrl+Tab", ID_WINDOW_NEXT_TAB
        MENUITEM "Previous Editor Ta&b\tCtrl+Shift+Tab", ID_WINDOW_PREV_TAB
        MENUITEM "Close &All Editors", ID_FILE_CLOSE_ALL
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About ZDE", ID_HELP_ABOUT
    END
END
